
.trips-days {
  position: relative;
  &:nth-child(odd) {
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 10% 100%);
  }
  &:nth-child(even) {
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 5% 100%);
  }
}

.main-baner {
  padding-bottom: 60px;
  color: color(2);
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .slick-dots {
    display: block !important;
    list-style: none;
    margin: 10rem 0 0 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 500;
    opacity: 1;
    li {
      display: inline-block;
      button {
        border: 2px solid #fff;
        background-color: transparent;
        border-radius: 50%;
        font-size: 0;
        width: 13px;
        height: 13px;
        margin: 30px 10px;
        outline: none;
        cursor: pointer;
        transition: all .3s ease-in-out;
        @media screen and (max-width: 991.55px) {
          width: 15px;
          height: 15px;
        }
      }
      &.slick-active, &:hover {
        button {
          background-color: #fff;
        }
      }
    }
    @media screen and (max-width: 991.55px) {
      margin-top: 30px;
    }
  }
  * {
    font-family: $f-clearsans-light;
  }
  .baner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .footer-page-content {
    position: relative;
    z-index: 500;
    &.wider {
      .footer-page-content__block {
        max-width: 1200px;
      }
    }
    &__block {
      max-width: 900px;
      padding-left: 2%;
      padding-right: 2%;
      .title-with-underline {
        display: inline-block;
        width: 100%;
        max-width: 60%;
      }
      & + .footer-page-content__block {
        margin-top: 3rem;
      }
      p + p, p + ul {
        margin-top: 1rem;
        font-family: $f-clearsans-light;
      }
      ul {
        margin-left: 40px;
        &.lower-alpha {
          list-style: lower-alpha;
        }
        li {
          span {
            text-decoration: underline;
          }
        }
      }
      p {
        span {
          text-decoration: underline;
        }
      }
    }
  }
  .slider-main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .slick-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 55px;
      height: 110px;
      border: none;
      font-size: 0;
      background-color: rgba(#fff, .5);
      top: 50%;
      z-index: 500;
      transform: translate(0, -50%);
      transition: all .3s ease-in-out;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: rgba(#fff, .6);
      }
      &:after {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        border: 3px solid rgba(#fff, .8);
        transform-origin: 50% 50%;
      }
    }
    .slick-prev {
      left: 0;
      border-top-right-radius: 75px;
      border-bottom-right-radius: 75px;
      border-left: none;
      &:after {
        border-top: none;
        border-right: none;
        transform: translate(25%, 0) rotate(45deg);
      }
    }
    .slick-next {
      right: 0;
      border-top-left-radius: 75px;
      border-bottom-left-radius: 75px;
      border-right: none;
      &:after {
        border-bottom: none;
        border-left: none;
        transform: translate(-25%, 0) rotate(45deg);
      }
    }
    div {
      height: 100%;
    }
    .bg-item {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      position: relative;
    }
  }
  h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    letter-spacing: 6px;
    font-family: $f-clearsans-light;
  }
  h3 {
    font-family: $f-clearsans-light;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
  }
 
  p, a:not(.btn--default) {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: $f-clearsans-light;
    b {
      font-family: $f-helvetica-bold;
    }
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
    &.btn {
      font-family: $f-helvetica-bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .animation {
    font-family: $f-clearsans-regular;
    &--1 {
      .animation-block {
        opacity: 0;
        & + .animation-block {
          margin-top: 6rem;
        }
        &--paragraphs {
          p {
            opacity: 0;
            font-family: $f-clearsans-light;
          }
        }
      }
    }
  }

  .animation-block-quote h4 {
    text-align: center;
    font-family: $f-clearsans-light;
    font-size: 1.7rem;
  }

  .arr {
    &--down {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
  .trip-baner-title {
    position: relative;
    min-height: 100vh;
    h2 {
      display: inline-block;
      font-size: 4rem;
      line-height: 4rem;
      transform: translate(0, -100%);
      margin: 0;
      padding: 0 15px;
      position: relative;
      &:before, &:after {
        content: '';
        display: block;
        height: 2px;
        width: 300px;
        position: absolute;
        left: auto;
        right: auto;
        top: 50%;
        transform: translate(0, -50%);
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
      @media screen and (max-width: 991.55px) {
        font-size: 2rem;
        line-height: 2rem;
        &:before, &:after {
          width: 150px;
        }
      }
    }
    @media screen and (max-width: 991.55px) {
      min-height: 50vh;
    }
  }
  .trip-baner-description {
    min-height: 135px;
    h5 {
      font-size: 2rem;
      font-family: $f-clearsans-light;
    }
    @media screen and (max-width: 991.55px) {
      min-height: 90px;
      h5 {
        font-size: 1.25rem;
      }   
    }
  }

  @media screen and (max-width: 576px) {
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 0.95rem;
    }
    .animation {
      &--1 {
        .animation-block {
          & + .animation-block {
            margin-top: 1.5rem;
          }
        }
      }
    }
  }
}

.content-line-2__info__parameters {
  p {
    margin-bottom: 0.5rem;
    a {
      word-break: break-all;
    }
  }
  h4 {
    margin-top: 2.5rem;
    color: color(3);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: $f-oldstandard;
  }
}

.pricing {
  &__content {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    .central-info-block {
      box-shadow: 2px 2px 15px rgba(0,0,0,.5); 
    }
    &__main {
      .numeric {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          .numeric__description {
            color: #fff;
            @media screen and (max-width: 991.55px) {
              color: #8f8f8f;
            }
          }
        }
        &:nth-child(3) {
          .numeric__circle {
            h2 {
              font-size: 5.5rem;
              right: 33%;
              top: 12%;
            }
          }
        }
        &__circle {
          box-shadow: 2px 2px 15px rgba(0,0,0,.5); 
        }
      }
    }
  }
}

.pseudo-select {
  display: block;
  width: 100%;
  max-width: 460px;
  margin: 0;
  padding: 0;
  color: #000;
  border-radius: 15px;
  list-style: none;
  & + .pseudo-select {
    margin-top: 2rem;
  }
  li {
    font-size: 18px;
    line-height: 30px;
    position: relative;
    input {
      margin-bottom: 0 !important;
    }
    ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      z-index: 500;
      background-color: #fff;
      height: 150px;
      overflow: auto;
      display: none;
      li {
        padding: 0 30px;
        transition: all .3s ease-in-out;
        &:hover, &.select {
          background-color: #f1f1f1;
        }
      }
    }
  }
}

.trips-days {
  &__info {
    color: #fff;
  }
}

label {
  .small {
    display: block;
    font-size: 1rem;
  }
}

*[data-allow-to-select="0"] {
  .checkbox, .toggle {
    display: none;
    &.checked {
      display: inline-block;
    }
  }
}

*[data-js="steps"] {
  float: left;
  font-family: OldStandard,Tahoma,sans-serif;
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: #fff;
  padding-left: 1rem;
  transform: translate(0, 0.5rem);
  @media screen and (max-width: 992px) {
    display: block;
    width: 100%;
    float: none;
    text-align: left;
    padding-left: 0;
  }
}

.country-and-city-selects {
  position: relative;
  input[name="country-to"] {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
  }
  .country-tags {
    margin-top: 0.25rem;
    .country-tag {
      display: inline-block;
      padding: 5px 20px 8px;
      background-color: #e45858;
      color: #fff;
      border-radius: 30px;
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin: 0.25rem;
      cursor: pointer;
      &:hover {
        text-decoration: line-through;
      }
    }
  }
}

.checkbox, .toggle, .radio {
  label {
    text-align: left;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    &:checked {
      width: 0;
      height: 0;
      position: absolute;
      & + label {
        background-color: #e45858;
        &:before {
          left: 24px !important;
          top: 50% !important;
          opacity: 1 !important;
        }
        &:after {
          display: none !important;
        }
      }
    }
  }
  label {
    display: inline-block !important;
    background-color: rgba(#e45858, .5);
    border: 2px solid #e45858;
    border-radius: 50px;
    padding: 15px 50px !important;
    font-size: 1.2rem !important;
    line-height: 1.2rem !important;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      left: 24px !important;
      top: 50% !important;
      width: 8px !important;
      height: 16px !important;
      margin: 0 !important;
      padding: 0 !important;
      transform-origin: 50% 50% !important;
      transform: translate(0, -100%) rotate(45deg) !important;
      border-radius: 0 !important;
      border: none !important;
      border-bottom: 2px solid #fff !important;
      border-right: 2px solid #fff !important;
      background: transparent !important;
      opacity: 0 !important;
      transition: all .3s ease-in-out;
    }
    &:after {
      display: none !important;
    }
  }
}

.radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 1rem;
  input[type="radio"] {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked {
      & + label {
        &:before {
          background-color: #fff;
        }
      }
    }
  }
  label {
    position: relative;
    padding-left: 21px;
    font-size: 1.4rem !important;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      background-color: #e45858;
      border: 4px solid #e45858;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}

.toggle {
  position: relative;
  cursor: pointer;
  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: inline-block;
    width: 1px;
    height: 1px;
    &:checked + label {
      opacity: 1;
      input[type="text"] {
        width: 100% !important;
        opacity: 1;
        padding-left: 5px !important;
        padding-right: 5px !important;
      }
      &:before {
        background-color: #e45858;
      }
      &:after {
        left: 22px;
      }
    }
  }
  label {
    padding-left: 45px;
    position: relative;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    input[type="text"] {
      padding-top: 2px !important;
      padding-bottom: 2px !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 0 !important;
      max-width: 320px !important;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 3px;
      border-radius: 15px;
      background-color: #525252;
      transition: all .3s ease-in-out;
    }
    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 2px;
      transition: all .3s ease-in-out;
    }
  }
}

.get-started {
  &.sliders {
    text-align: center;
    .slick-list {
      min-height: 100%;
    }
  }
}

.all-inputs-w-100 {
  input, select {
    width: 100% !important;
    max-width: 100% !important
  }
}

select, input {
  -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}

/* Cookies */
.cookieAcceptBar {
  display:none;
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  z-index: 99999;
  button {
    cursor: pointer;
    border: none;
    background-color: rgba(#e45858, .6);
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    &:hover {
      background-color: #e45858;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

/* ------------------- Range slider ------------------- */

$primary: #e45858;
$secondary: #fff;
$roundness: 5px;

$sliderHeight: 4px;
$handleSize: 20px;
$valueWidth: 90px;
$labelMarkerHeight: 12px;

.rangeslider-wrap {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.rangeslider {
  position: relative;
  height: $sliderHeight;
  border-radius: $roundness;
  width: 100%;
  background-color: $secondary;
  
  &__handle {
    transition: background-color .2s;
    box-sizing: border-box;
    width: $handleSize;
    height: $handleSize;
    border-radius: 100%;
    background-color: $primary;
    touch-action: pan-y;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 3;
    top: -($handleSize/2) + ($sliderHeight/2);
    box-shadow: 0 1px 3px rgba(black, .5),
                inset 0 0 0 2px white;
    
    &__value {
      transition: background-color .2s, 
                  box-shadow .1s,
                  transform .1s;
      box-sizing: border-box;
      width: $valueWidth;
      text-align: center;
      padding: 10px;
      background-color: $primary;
      border-radius: $roundness;
      color: white;
      left: -($valueWidth/2 - $handleSize/2);
      top: -55px;
      position: absolute;
      white-space: nowrap;
      border-top: 1px solid darken($primary, 10%);
      box-shadow: 0 -4px 1px rgba(black, .07),
                  0 -5px 20px rgba(black, .3);
        
      &:before {
        transition: border-top-color .2s;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        content: "";
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid;
        border-top-color: $primary;
      }
        
      &:after {
        content: " %";
      }
    }
  }
  
  &__fill {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    background-color: $primary;
    border-radius: $roundness;
  }
  
  &__labels {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    
    &__label {
      font-size: 0.75em;
      position: relative;
      padding-top: 15px;
      color: $secondary;
      
      &:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 1px;
        height: $labelMarkerHeight - 3px;
        border-radius: 1px;
        background-color: rgba($secondary, .5);
      }
      
      &:first-child:before,
      &:last-child:before{ 
        height: $labelMarkerHeight;
        width: 2px;
      }
      
      &:first-child:before { background-color: $primary }
      &:last-child:before { background-color: $secondary }
      
      &:first-child { transform: translateX(-48%) }
      &:last-child { transform: translateX(48%) }
    }
  }
  
  // active state
  &.rangeslider--active {
    .rangeslider__handle {
      &, *      { background-color: lighten($primary, 10%) }
      *:before  { border-top-color: lighten($primary, 10%) }
    }
    
    .rangeslider__handle__value { 
      transform: translateY(-5px);
      box-shadow: 0 -3px 2px rgba(black, .04),
                  0 -9px 25px rgba(black, .15);
    }
  }
}

@keyframes mainBannerAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 150px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


@media screen and (max-width: 992px) {
  .trips-content-line-3-title  {
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 2.2rem;
    }
  }
  .main-baner {
    .slider-main-content {
      .slick-arrow {
        top: 60%;
        width: 35px;
        height: 50px;
        &:after {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.footer-page-content__block {
  ul {
    li {
      font-family: $f-clearsans-light;
      span {
        font-family: $f-clearsans-light;
      }
    }
  }
  &__quote {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3rem;
  }  
}

