{{#p-index}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/main-baner}}
{{> ../organisms/home-content-line-1}}
{{> ../organisms/home-content-line-2}}
{{> ../organisms/subscribe-block}}
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-index}}