{{#p-simple-trip-countries}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/simple-trips-baner}}
{{> ../organisms/trips-content-line-3}}
{{> ../organisms/trips-content-line-2}}
<div style="background-color: #e45858;">
  {{> ../organisms/sample-trip-days}}
</div>
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-simple-trip-countries}}