{{#p-sample-trip-list}}
{{> ../head }}
{{> ../organisms/header}}
{{> ../organisms/sample-trip-list-baner}}
<div>
  {{> ../organisms/sample-trip-list-content-line}}
</div>
{{> ../organisms/footer-main}}
{{> ../foot }}
{{/p-sample-trip-list}}