<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  {{#head.aos}}
  <link rel="stylesheet" href="assets/css/vendors/aos.css">
  {{/head.aos}}
  {{#head.slick}}
  <link rel="stylesheet" href="assets/css/vendors/slick.css">
  <!-- <link rel="stylesheet" href="assets/css/vendors/slick-theme.css"> -->
  {{/head.slick}}
  <!-- <link rel="stylesheet" href="assets/css/vendors/font-awesome.css"> -->

  {{#head.bootstrap}}
  <link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
  {{/head.bootstrap}}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
  <link rel="stylesheet" href="assets/css/vendors/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="assets/css/style.min.css?ver=1.2">
  <title>{{head.title}}</title>
</head>
<body>
 