{{#mol-animation-1}}
<div class="animation animation--1">
  <div class="animation-block animation-block--paragraphs">
    <p>Hello!</p>
    <p>I see you there!</p>
    <p>You look like you`ve been day dreaming</p>
    <p>about a relaxing trip to Fiji!</p>
    <p>Or maybe a romantic getaway to Paris? No?</p>
    <p>An awesome adventure to Machu Picchu?</p>
    <p>Or maybe you`re so fed up with all work, life responsibilitise</p>
    <p>and want to do them all!</p>
    <p>Well, You came to the right place!</p>
  </div>
  <div class="animation-block">
    <h3>Welcome to Well Planned 365!</h3>
  </div>

  <div class="animation-block animation-block-quote">
    <h4>
        We're Well Planned, so you don't have to be!
    </h4>
  </div>
</div>
{{/mol-animation-1}}