{{#mol-cookies}}
<div class="footer-page-content wider">
  <div class="footer-page-content__block">
    <div class="title-with-underline">
      <h1>Cookie Policy</h1>
    </div>
  </div>
  <div class="footer-page-content__block text-left">
    <div>
      <p>
        <b>1	Introduction.</b>
      </p>
      <p>
        1.1	This is the Cookie Policy (the “Policy”) for www.wellplanned365.com (including its sub-domains and mobile optimized versions), along with any and all products and services offered thereby and provided to you by the Well Planned 35 Team (hereinafter referred to as “Well Planned” and also “our”, “us” and “we”).
      </p>
      <p>
        1.2	Overall, this Policy is a legally binding agreement between Well Planned, and you, an end-user of our platform and any products and services offered by us, referred to as and also “you”, “your(s)” or “yourself”).
      </p>
      <p>
        1.3	This Policy shall supplement our Privacy Policy and our Terms and Conditions of Service, along with any supplemental guidelines and policies provided by us from time to time, all incorporated herein by reference.
      </p>
      <p>
        1.4	Upon the case of any discrepancy between the terms of this Policy and our Privacy Policy, the terms of the latter will govern.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          2	Scope.
        </b>
      </p>
      <p>
        2.1	This Policy explains what cookies are and how we use them on our platform.  You should read this Policy so you can understand what type of cookies we use, the information we collect using the cookies and how that information is used.
      </p>
      <p>
        2.2	Accordingly, by using our websites and services, you agree to our use of cookies in accordance with this Policy.
      </p>  
    </div>
    <div class="mt-4">
      <p>
        <b>
          3	Cookies & Beacons.
        </b>
      </p>
      <p>
        3.1	From time to time, we may place the so-called ‘cookies’ in your computer in order to track and collect data regarding your use of our products and services.  Cookies are small text files that our services transfer to your devices and that allow us permit us to recognize you and obtain data such as the environment in which our products are operating, OS type and version.
      </p>
      <p>
        3.2	Cookies are used by us so that our platform can remember what you have done whilst browsing (e.g. log-in details, language and currency preferences, links used and shopping cart).
      </p>
      <p>
        3.3	We may also collect and use the data contained in log files, which may include your IP (internet protocol) address, your ISP (internet service provider), the browser you used to visit our site, the time you visited our platform and which pages you visited throughout our platform.
      </p>
      <p>
        3.4	We also use the so-called ‘beacons’, which are small files, sometimes only a pixel in size, embedded onto the pages of our platform.  Beacons are used to identify each of our pages in order to be analyzed by our system tools.
      </p>
      <p>
        3.5	When you access our platform via a mobile device, we will use your mobile device ID (i.e. the unique identifier assigned to a mobile device by the manufacturer) and/or Advertising ID (for Apple iOS 6 and later) instead of cookies in order to recognize you, track the number of relevant ads displayed, their performance and display.
      </p>
      <p>
        3.6	You can always configure your browser to refuse cookies and beacons.  For more information, please visit <a href="https://allaboutcookies.com" target="_blank">www.allaboutcookies.com</a>.  Unlike cookies, device IDs cannot be deleted, but you can select to reset your Advertising IDs in the “Settings” section of your mobile device, among other settings.
      </p>
      <p>
        3.7	If you block our use of cookies, you may be unable to access certain areas of our platform and certain functions will not work as intended.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          4	Type of Cookies Used.
        </b>
      </p>
      <p>
        4.1	We use a variety of cookies in order to provide our services.  By agreeing to accept our use of cookies, you are giving us, and the third parties we partner with, permission to place, store, and access some or all the cookies described below on your computer:
      </p>
      <ul>
        <li>
          Necessary Cookies.  These cookies are necessary for proper functioning of the Site, such as displaying content, logging in, validating your session, responding to your request for services, and other functions.  Most web browsers can be set to disable the use of cookies.  However, if you disable these cookies, you may not be able to access features on our website correctly or at all.
        </li>
        <li>
          Functional Cookies.  These cookies enable the Site to remember a user’s choices – such as their language, user name, and other personal choices – while using the Site.  They can also be used to deliver services, such as letting a user make a blog post, listen to audio, or watch videos on the Site.
        </li>
        <li>
          Session Cookies.  These cookies allow websites to link the actions of a user during a browser session. They may be used for a variety of purposes, such as remembering what a user has put in their shopping cart as they browse a website.  Session cookies also permit users to be recognized as they navigate a website so that any item or page changes they make are remembered from page to page.  Session cookies expire after a browser session; thus, they are not stored long term. 
        </li>
        <li>
          Persistent Cookies.  These cookies are stored on a user’s device in between browser sessions, which allows the user’s preferences or actions across a website (or, in some cases, across different sites) to be remembered.  Persistent cookies may be used for a variety of purposes, including remembering users’ choices and preferences when using a website or to target advertising to them.
        </li>
      </ul>
      <p>
        4.2	Most web browsers can be set to disable the use of cookies.  However, if you disable cookies, you may not be able to access features on our website correctly or at all.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          5	Advertising &Opt-Out.
        </b>
      </p>
      <p>
        5.1	From time to time, we may use Google Analytics, Ad Words, Double Click and/or Ad Sense tracking codes, and other third-party software tools (such as remarketing codes) in order to collect information and marketing analytics about the manner in which you browse our platform and use our products and services.  These ads served will be targeted based on your previous browsing history, and may include retargeting codes.  For example, third-party vendors may show you Well Planned’s ads on certain websites across the Internet, even after you leave our platform.  The collected information is anonymized, meaning it cannot be tracked back to individuals.  Using such tools, we learn how to optimize, and serve ads based on a user’s past visits, providing you with a better user experience.
      </p>
      <p>
        5.2	Our third-party vendors may also use cookies and beacons to track your Internet browsing in order to serve you ads based on what they or us believe to be of interest according to your browsing activities and consumer preferences.  Henceforth, by using this platform, along with our products and services, you hereby consent to such disclosure, treatment and storage of PI.
      </p>
      <p>
        5.3	In order to enforce and uphold your right to privacy, you will always have the option to elect not to receive this type of advertising from us or third parties, now or in the future.  You can learn more about how to opt-out by browsing Google’s opting-out and privacy pages located at www.google.com, or the Network Advertising Initiative website located at www.networkadvertising.org.  In addition, you may set browser, mobile device and computer system preferences for how other third parties serve ads to you.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>6	Amendments, Updates.</b>
      </p>
      <p>
        6.1	We reserve the right to amend, change, suspend and/or update our platform, our products, our services and this Policy, in whole or in part, from time to time and at our sole and final discretion.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          7	Contact Us.
        </b>
      </p>
      <p>
        7.1	If you have any questions or queries about us, our Terms and Conditions of Service and/or this Policy, please contact us as indicated in our contact page and [-----------------------------------].
      </p>
    </div>
    <div class="mt-5">
      <p>
        <b>Date of last effective update is [---------], 2018.</b>
      </p>
    </div>
  </div>
</div>
{{/mol-cookies}}