{{#mol-footer-pages-content}}
<div class="footer-page-content {{#wider}}wider{{/wider}}">
  <div class="footer-page-content__block">
    <div class="title-with-underline">
      <h1>{{page-title}}</h1>
    </div>
  </div>
  <div class="footer-page-content__block {{#wider}}text-left{{/wider}}">
    {{#paragraphs}}
    <p>
      {{{text}}}
    </p>
    {{/paragraphs}}
    {{#mail}}
    <a href="mailto:info@wellplanned365.com">Info@wellplanned365.com</a>
    {{/mail}}
  </div>
  {{#bottom-button}}
  <div class="footer-page-content__block">
    <h3>Click the button below to show you how it works.</h3>
    <div class="text-center mt-4">
      <a href="#" class="btn btn--default">LET’S GO</a>
    </div>
  </div>

  <!-- <div class="footer-page-content__block__quote">
    <p>
      We at Well Planned 365 know how hard it is to not be able to feel freedom while traveling because you're part
        of a tourist group.
        That's why, we write our itineraries in a way to really keep things loose! No strings atached.
        Time not on your side? Not in the mood to read endless travel blogs and research like you're preparing a thesis?
        It's boring. But we love research, we'll do it for you and craft the perfect itinerary!
        No more wasting time and effort. At Well Planned 365, all you have to do is have fun and enjoy your trip!
      </p>
  </div> -->

  {{/bottom-button}}
</div>
{{/mol-footer-pages-content}}