{{#mol-get-started}}
<div class="get-started">
  {{#top-block}}
  <!-- <div class="get-started__top">
    {{> title-with-underline}}
    <p>
      {{text}}
    </p>
  </div> -->
  {{/top-block}}
  <!-- <a href="#" class="btn btn--get-started">
    <span>
      get started
    </span>
  </a> -->
  {{#bottom-block}}
  <div class="get-started__bottom">
    {{> title-with-underline}}
    <p>
      {{text}}
    </p>
  </div>
  {{/bottom-block}}
</div>
{{/mol-get-started}}