{{#mol-home-tabs-link}}
  <a class="nav-link {{#active}}active show{{/active}}" data-toggle="pill" href="{{{href}}}" role="tab" aria-selected="false" data-image="{{image-name}}">
    <h2>{{{h2}}}</h2>
    <span>{{{span}}}</span>
  </a>
{{/mol-home-tabs-link}}