{{#mol-privacy-policy}}
<div class="footer-page-content wider">
  <div class="footer-page-content__block">
    <div class="title-with-underline">
      <h1>Privacy Policy</h1>
    </div>
  </div>
  <div class="footer-page-content__block text-left">
    <div>
      <p>
        <b>1. Scope of this Policy.</b>
      </p>
      <p>
        1.1.	This is the Privacy Policy (the “<b></b>Policy</b>”) the web site located at www.wellplanned365.com (including its sub-domains and its mobile optimized versions), along with any and products and services owned, offered and/or provided by the Well Planned 365 Team (collectively referred to hereinafter as “<b>Well Planned</b>”, and also referred as ‘<b>us</b>’, ‘<b>its</b>’, ‘<b>ours</b>’ and/or ‘<b>we</b>’).
      </p>
      <p>
        1.2.	This Policy shall be supplemented by our Terms and Conditions of Use, and any other guidelines, terms and policies made available by us from time to time, all incorporated herein by reference.
      </p>
      <p>
        1.3.	As used herein and elsewhere, the words “<b>collect</b>”, “<b>use</b>”, “<b>process</b>”, “<b>treat</b>”, “<b>disclose</b>” and analogous shall be related to personally identifiable information (the “<b>PI</b>”) and other data that we may collect from our users and/or visitors, including cookies inside a computer and mobile device IDs.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          2.	Consent for Collection, Use and Disclosure.
        </b>
      </p>
      <p>
        2.1.	By the simple use of our products, services or websites, through registration, or through a clickable action such as the “I Agree” button or otherwise, you hereby agree, acknowledge and unambiguously consent to the collection, use, processing, treatment and limited disclosure of your PI in Saudi Arabia, the European Union and other countries and territories, for the purposes set forth in this Policy.
      </p>
      <p>
        2.2.	Accordingly, you hereby agree, acknowledge and unambiguously consent that we may disclose your PI to our affiliates, clients, agents, officers, licensors and/or distributors, in accordance with this Policy.
      </p>
      <p>
        2.3.	Any PI that you provide to us must be true, accurate, current, non-misleading, and relevant for the purposes for which you are providing it. 
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          3.	Information You Disclose to Us.
        </b>
      </p>
      <p>
        3.1.	We will collect certain PI from you when you: (i) sign up for any of our account options; (ii) use our products and services; and/or (iii) undertake any action related to us that requires PI collection.
      </p>
      <p>
        3.2.	In a general scope, you will provide us your name, surname, age, email address, physical address, geo-location coordinates and phone number, among other PI.  This list is only for reference and not exhaustive, and we may collect further information.
      </p>
      <p>
        3.4.	Here at Well Planned, we work hard to earn and keep your trust; and therefore we adhere to the following principles in order to protect your privacy: (i) we will not sell or lease your PI to third-parties; (ii) we will not disclose your PI with other users or third-parties without your consent; (ii) any PI that you provide to Well Planned will be secured with industry standard safety protocols and technology.
      </p>
      <p>
        3.5.	When you access our platform via a mobile device, we may use your mobile device ID (i.e. the unique identifier assigned to a mobile device by the manufacturer) and/or Advertising ID (for Apple iOS 6 and later) instead of cookies in order to recognize you, track the number of relevant ads displayed, their performance and display.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          4.	Purposes of Collected Information.
        </b>
      </p>
      <p>
        4.1.	We use your PI to execute, manage, provide and improve our services and products.  Accordingly, we will generally collect, use and disclose your PI to:
      </p>
      <ul>
        <li>
          Provide, operate, maintain, improve, and promote our platform and our products and services.
        </li>
        <li>
          Verify your e-mail address; send password retrieval links and other account notices.
        </li>
        <li>
          Improve your user experience and provide you with personalized support
        </li>
        <li>
          Develop, research, process, safeguard and improve our services.
        </li>
        <li>
          Answer to comments, questions, and requests you submit to us. 
        </li>
        <li>
          Offer promotions, newsletters, send service related announcements and contact you about inquiries for our products and services.
        </li>
        <li>
          Investigate and prevent fraudulent transactions, unauthorized access to our services, and other suspicious activities.
        </li>
        <li>
          Monitor and analyze trends, usage, and activities in connection with our products and services and for marketing or advertising purposes.
        </li>
      </ul>
      <p>
        4.2.	If you do not wish to disclose any or part of your PI to us, you may still be able to use some of our products and services, though we will not be able to guarantee that you will be able to enjoy them at their fullest if you elect not to disclose it to us.  Overall, your final remedies will be to close this web tab, delete your account with us and/or exit our Site.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>5.	Financial Information Collected.</b>
      </p>
      <p>
        5.1.	We use third party payment processing partners in order to bill and process any payments and subscriptions made via our platform and our services.
      </p>
      <p>
        5.2.	These platforms will request you to disclose them sensitive information in order to complete purchases and operations related to our services, and such third-party payment processing platforms are governed by their own safety standards, policies and terms of use.
      </p>
      <p>
        5.3.	We take great care in selecting our third party payment processing platforms, and strive to be aware of their operations and functionalities; thus we strongly advise our users to engage in online safety measures and practices in order to protect their financial information.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          6.	Geographical Location Data.
        </b>
      </p>
      <p>
        6.1.	Our platform may request location-based data features used to provide our services, and will be used to collect, use and share precise location data from your mobile device (including its reported real-time geographic location) and also to calculate your position within a determined area called a geo-fence.  
      </p>
      <p>
        6.2.	This information will be used to provide location-based notifications, booking information, service check-in, local search, social networking and other functionalities.
      </p>
      <p>
        6.3.	Your browser or device will send you a notification or screen, requesting your consent for these features.  If you consent to such disclosure, this information will be shared automatically with some third-party partners.  For others this information will only be shared with your explicit permission or if you choose to share it via your mobile device’s settings.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          7.	Other Information Collected By Us.
        </b>
      </p>
      <p>
        7.1.	Well Planned may offer the functionality of using your third-party credentials (e.g. Microsoft, Google or Facebook) to execute single-sign-on, and in that manner we will also collect your PI as provided to us by such third-party platforms; such as your account data, text, archives, photos, bookmarks, info of your contacts and their common contacts, login data and profile information such as “about me”, “friend lists” and “interests”.
      </p>
      <p>
        7.2.	Accordingly, we will not collect more information when using such credentials beyond the PI such third parties generally disclose to us via their services.  For more information, please refer to the terms and policies of such platforms.
      </p>
      <p>
        7.3.	You may also have the option of posting your activities on our services and other content to social media networks when you access content through our platform.  For example, you may post to Facebook or Twitter that you booked a professional or that you used our services.
      </p>
      <p>
        7.4.	Users will also have the option to post ratings and reviews of the service providers which they may engage through our site and mobile app.  By their nature, these posts and reviews are public information.
      </p>
      <p>
        7.5.	Accordingly, we will share your PI with our commercial partners, third-party service providers, distributors, other third parties for the purpose of enabling the services you book to be carried out, and to other parties for which you have provided your express consent therefor.
      </p>
      <p>
        7.6.	We will not share identifiable PI with third-parties for marketing purposes without your permission.  With your consent, these third-parties may offer promotions (including email promotions) or sell items or services to you through our services.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          8.	Storage of Information.
        </b>
      </p>
      <p>
        8.1.	As our user, you will generally be able to control and select the amount and type of PI you may disclose to us.  We continuously try to improve our user experience, and strive to provide you the best choices for the disclosure, edition or removal of the PI being processed by us.
      </p>
      <p>
        8.2.	Accordingly, we will undertake the open and transparent management of your PI and will: (i) inform you about how your personal information may be used and disclosed (including overseas); (ii) maintain the safety and integrity of your personal information; (iii) develop guidelines and procedures regarding retention, including minimum and maximum retention periods; (v) destroy or erase any PI when no longer required in order to fulfill the purposes set forth herein and/or (v) enforce your individual right to access and correct your PI.
      </p>
      <p>
        8.3.	We will retain your PI only for as long as it is reasonably necessary for our business purposes (e.g. as long as your account is active); and we will also retain and use your PI for our compliance obligations, to resolve disputes among our users, and enforce our contracts with authorized third-parties.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          9.	Safety of Collected Information.
        </b>
      </p>
      <p>
        9.1.	We use industry standard protocols and technology to protect your registered user information and PI, such as Secure Socket Layer (SSL) technology and secure databases, and your PI is only accessible by a limited number of our employees who have special access rights.
      </p>
      <p>
        9.2.	Overall, we implement and maintain reasonable security measures to protect our databases and records from unauthorized access, acquisition, destruction, use, modification or disclosure.
      </p>
      <p>
        9.3.	Notwithstanding the foregoing, please take into account that the Internet and related transmissions are not secure or error free communication means.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          10. You Rights as Data Subject.
        </b>
      </p>
      <p>
        10.1.	The General Data Protection Regulation (GDPR) allows individuals in the EU greater control over their personal data and grants them a number of rights with regard to how that data is processed, stored, and accessed. 
      </p>
      <p>
        10.2.	For the purposes of the GDPR, in the European Union, Well Planned is a “data controller” of the PI you provide to us for the primary purposes of providing you with our Services.
      </p>
      <p>
        10.3	The section below covers the certain situations that you, as data subject, and we as a data controller, are most likely to see, but you should also carefully review the full list of data subject rights here: <a href="https://gdpr-info.eu/chapter-3/" target="_blank">https://gdpr-info.eu/chapter-3/</a>.  You retain the right to access, amend, correct or delete your PI where it is inaccurate at any time.  To do so, please contact <a href="mailto:info@wellplanned365.com">info@wellplanned365.com</a>.
      </p>
      <ul>
        <li>
          <span>The right to be forgotten:</span>  You can request us to be “forgotten”; that is, to have your PI removed from our Service.  If we are asked to do this, we will remove any PI you we collected from you as requester.  We will also need to contact any third parties, such as our cloud service providers, that process your PI on our behalf.  To ensure that any personal data in Well Planned’s possession can be removed in a timely manner, you can relay any request to be “forgotten” to us by submitting a request-
        </li>
        <li>
          <span>Data portability:</span>  Under the GDPR, our users located in the EU may request Well Planned to send them any PI in our possession.  In this case, we will provide you with any PI that you have in a commonly used, machine-readable format.
        </li>
        <li>
          <span>Access:</span>  As a data subject, you can ask Well Planned to confirm how and where your PI is being stored and processed.  You also have the right to know how such that data is shared with third parties by us.
        </li>
        <li>
          <span>Rectification:</span>  As data subject, you have the right to obtain from Well Planned, without undue delay, the rectification of inaccurate PI concerning you.
        </li>
      </ul>
      <p>
        10.4.	Your privacy request must include, at the least, the following information: (i) your complete name, address and/or e-mail address in order for us to notify you the response to your request; (ii) attached documents establishing your identity; and (iii) a clear and concise description of the PI with regard to which you seek to enforce any of your privacy rights.  If you request rectification, please indicate amendments to be made and attach documentation to back up your request.
      </p>
      <p>
        10.5.	Upon receipt of your privacy request, and after due review, we may then edit, deactivate and/or delete your PI from our Services within thirty (30) days.  In case of secure databases under our control where deletion is impossible, we will make such information permanently inaccessible.
      </p>
      <p>
        10.6.	We have our headquarters in Saudi Arabia.  Henceforth, your PI may be accessed by us or our affiliates, agents, partners, advertisers or third-party service providers located in Saudi Arabia and other locations which may or may not be located in your country of residence, and you hereby consent to such access and transfer by simple disclosure.  All Well Planned related entities are subject to the privacy practices set out in this Policy and any applicable jurisdictional legislation.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          11.	Lawful Disclosure of Information.
        </b>
      </p>
      <p>
        11.1.	We must reserve our right to disclose your PI when we or our affiliates, clients, contractors, licensors, officers, agents and/or representatives reasonably believe it necessary to protect our interests, or where you result to be in breach of our Terms and Conditions of Use and/or this Privacy Policy.
      </p>
      <p>
        11.2.	Accordingly, we will have the right to disclose any and all collected PI and/or data, under the following circumstances: 
      </p>
      <ul>
        <li>
          If required under applicable law, rules or regulations.
        </li>
        <li>
          In response to a valid request or subpoena from a government or law enforcement agency.
        </li>
        <li>
          To defend ourselves and our affiliates, licensors, officers, agents and representatives from legal claims and processes brought to us by third-parties (including takedown notices).
        </li>
        <li>
          To defend the property, rights and integrity of any of our users, advertisers or licensors.
        </li>
        <li>
          To stop or cause to cease any actions that we may consider to cause –whether allegedly or factually– a contingency or liability.
        </li>
      </ul>
    </div>
    <div class="mt-4">
      <p>
        <b>
          12.	Newsletters and Commercial Messages.
        </b>
      </p>
      <p>
        12.1.	From time to time, we will ask you for express permission and consent to receive Commercial Electronic Messages (‘CEM’).  A CEM is a message in an electronic format (e.g. email, SMS, push notifications and other form of communications) which is then sent to an electronic address (e.g. email, mobile device) and that contains a message asking recipients to participate in commercial activities (e.g. purchase of products, services and invitations to participate in user research).
      </p>
      <p>
        12.2	Our optional email newsletters are considered CEMs, and therefore you may subscribe or unsubscribe from them at will, usually on your account settings, or by following the unsubscribe links contained therein.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          13.	Governing Language.
        </b>
      </p>
      <p>
        13.1.	From time to time, this Policy may be translated into other languages for your convenience, such as Arabic.  The English language version of each of these documents shall be the version that prevails and governs your use of Site and our products and services.  Upon the case of any conflict between the English language version and any translated version, the English language version will prevail.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          14.	Service Eligibility.
        </b>
      </p>
      <p>
        14.1.	If you are still a minor (which may depend on the jurisdiction where you reside), you cannot use or access our products and services, even under the direct supervision of your parent or legal guardian.
      </p>
      <p>
        14.2.	Well Planned does not knowingly collect any kind of information from persons under the age of thirteen (13), and if we learn or have reason to suspect that any user is under the age of thirteen (13), we will delete any PI under that user’s account.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          15.	Amendments to this Privacy Policy.
        </b>
      </p>
      <p>
        15.1.	We reserve the right to amend, change, suspend and/or update our platform, our products, our services, this Policy and/or our Terms, in whole or in part, from time to time and at our sole and final discretion.
      </p>
      <p>
        15.2.	Your continued use thereof after the last effective date of modifications thereof indicates your acceptance of such modifications.
      </p>
      <p>
        15.3.	We will post any updates on our platform, and may also send you an email or otherwise notify you of any material changes to this Policy.
      </p>
    </div>
    <div class="mt-4">
      <p>
        <b>
          16.	Contact Us.
        </b>
      </p>
      <p>
        16.1	If you have any questions or queries about us, our products, our services, our Terms and Conditions of Use and/or this Policy, please contact us as indicated in our website: <a href="https://wellplanned365.com/contact">www.wellplanned365.com/contact</a>, and also: [----------------------------------].
      </p>
    </div>
    <div class="mt-5">
      <p>
        <b>
          Date of last effective update is [---------], 2018.
        </b>
      </p>
    </div>
  </div>
</div>
{{/mol-privacy-policy}}