{{#mol-trip-days-title}}
<div class="day-title">
  {{#title}}
  <h2>{{{title}}}</h2>
  {{/title}}
  {{#sub-title}}
  <div class="text-center">
    <h3>{{{sub-title}}}</h3>
  </div>
  {{/sub-title}}
</div>
{{/mol-trip-days-title}}