{{#mol-trip-info}}
<ul>
  {{#trip-info-item}}
  <li>
    {{#title-1}}
      <h3>{{{title-1}}}</h3>
    {{/title-1}}
    {{#title-2}}
      <h4>{{{title-2}}}</h4>
    {{/title-2}}    

    {{#list}}
    <p>{{{list}}}</p>
    {{/list}}

    {{#title-3}}
      <h4>{{{title-3}}}</h4>
    {{/title-3}}

    {{#title-4}}
    <h4>{{{title-4}}}</h4>
    {{/title-4}}

    {{#link}}
      <a href="#">{{{link}}}</a>
    {{/link}}
    {{#paragraph}}
      <p>{{{paragraph}}}</p>
    {{/paragraph}}
  </li>
  {{/trip-info-item}}
</ul>
{{/mol-trip-info}}