{{#org-footer-main}}
<footer class="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-main__list text-center">
          <ul>
            {{> ../molecules/footer-list}}
          </ul>
        </div>
        <div class="footer-main__social">
          {{> ../molecules/footer-icons}}
        </div>
      </div>
    </div>
  </div>
</footer>
{{/org-footer-main}}