{{#org-home-content-line-2}}
<section class="content-line trip-side">
  <div class="container">
    <div class="row">
      <div class="content-line-2__info col-12 col-lg-6 order-2 order-lg-1">
        <div class="tab-content" id="v-pills-tabContent">
          {{> ../molecules/content-info-line2}}
        </div>
      </div>
      <div class="content-line-2__image col-12 col-lg-6 order-1 order-lg-2">
        <div class="bg-block"></div>
        <div class="nav pt-4 pb-5 flex-column nav-pills justify-content-center align-items-center" id="v-pills-tab" role="tablist"
          aria-orientation="vertical ">
          {{> ../molecules/home-tabs-link}}
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-home-content-line-2}}