{{#org-home-content-line-1}}
<section class="content-line">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        {{> ../molecules/get-started}}
      </div>
    </div>
  </div>
</section>
{{/org-home-content-line-1}}