{{#org-our-story-content-line-1}}
<section class="our-story">
  <div class="container text-center">
    <div class="our-story__dotted col-12 text-center">
      <div class="our-story__dotted__dot"></div>
      <div class="our-story__dotted__dot"></div>
      <div class="our-story__dotted__dot"></div>
    </div>
    <div class="our-story__description">
      <p>
        We at Well Planned 365 know how hard it is to not be able to feel freedom while traveling because you're part of a tourist group. That's why, we write our itineraries in a way to really keep things loose! No strings atached.
      </p>
    </div>
    <div class="our-story__dotted col-12 text-center mt-5">
      <div class="our-story__dotted__dot"></div>
      <div class="our-story__dotted__dot"></div>
      <div class="our-story__dotted__dot"></div>
    </div>
    <div class="our-story__description">
      <p>
        Time not on your side? Not in the mood to read endless travel blogs and research like you're preparing a thesis? It's boring. But we love research, we'll do it for you and craft the perfect itinerary! No more wasting time and effort. At Well Planned 365, all you have to do is have fun and enjoy your trip!
      </p>
    </div>
  </div>
</section>
{{/org-our-story-content-line-1}}