{{#org-sample-trips-days}}
<section class="trips-days">
  <div class="trips-days__bg" style="background-image:url('{{{bg-image}}}');">
    <div class="row justify-content-end">
      <div class="col-12 col-lg-10 ">
        <div class="trips-days__title text-center">
         {{> ../molecules/trip-days-title}}
        </div>
        <div class="trips-days__info text-left">         
           {{> ../molecules/trip-info}}         
        </div>
      </div>
    </div>
  </div>
</section>
{{/org-sample-trips-days}}