{{#org-sample-trip-list-baner}}
<section class="sample-trip-list-baner" style="background-image: url('assets/img/st-list-baner.jpg')">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 h-auto text-center">
        <h1>Incredible places around the world</h1>
      </div>
    </div>
  </div>
</section>
{{/org-sample-trip-list-baner}}