{{#org-simple-trips-baner}}
<section class="main-baner" style="background-image:url('assets/img/sample-trip-florence.jpg');">
  <div class="trip-baner-title text-center d-flex">
    <div>
      <h2>FLORENCE</h2>
    </div>
  </div>
  <div class="trip-baner-description text-center">
    <h5>Inspired Luxury travel to Italy, designed for you</h5>
  </div>
</section>
{{/org-simple-trips-baner}}


