{{#org-subscribe-block}}
<section class="subscribe">
  <div class="container">
    <h2>Subscribe</h2>
    <form class="subscribe__form">
      <p>
        Sign up today and get the latest from Well Planned 365, directly to your inbox!
      </p>
      <div class="mt-3">
        <input type="email" placeholder="Email address" class="email-form">
        <input type="submit" value="subscribe" class="btn btn--default btn--default-blue">
      </div>
    </form>
  </div>
</section>
{{/org-subscribe-block}}