{{#org-trips-content-line-2}}
<section class="content-line content-line--sample-trip-list">
  <div class="container">
    <div class="row align-items-center">
      <!-- Text side -->
      <div class="col-12 col-lg-6 order-2 order-lg-1 {{#reverse}}order-1 order-lg-2{{/reverse}}">
        <div class="st-text-side {{#reverse}}st-text-side--reverse{{/reverse}}">
          {{#list}}
          {{#title}}
          <h4>{{title}}</h4>
          {{/title}}
          <ul>
            {{#item}}
            <li>{{{item}}}</li>
            {{/item}}
          </ul>
          {{/list}}
        </div>
      </div>
      <!-- /Text side -->
      <!-- Photo side -->
      <div class="col-12 col-lg-6 align-self-stretch position-relative order-1 order-lg-2 {{#reverse}}order-2 order-lg-1{{/reverse}}">
        <div class="st-photo-side {{#reverse}}st-photo-side--reverse{{/reverse}}" style="background-image: url('assets/img/{{bg}}')"></div>
      </div>
      <!-- /Photo side -->
    </div>
  </div>
</section>
{{/org-trips-content-line-2}}