{{#org-trips-content-line-3}}

<section class="content-line-2 trip-side">
  <div class="container">
    <div class="trips-content-line-3-title text-center">
      <h2>On 27 September,From Rome-Florence</h2>
      <h3>We highly recommended going by fast train.</h3>
    </div>
  </div>
</section>

{{/org-trips-content-line-3}}